# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Env
.env
.env.*
.env.local
.env.*.local

# Archives
*.zip
*.7z
*.rar

# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/

# Prisma
*.db
*.db-journal

# TypeScript cache
*.tsbuildinfo

# Supabase temp files
supabase/.temp/

# Templates (working directory)
templates/
.vercel
.env*.local
